.search-page {
  .main-display {
    height: 50vh;
    background-position: 50% 85%;
    background-size: cover;
    border-bottom: 5px solid;
    border-image: linear-gradient(45deg, #bcc1f8, #3ef1ee) 1;

    .overlay {
      height: 50vh;
      background: black;
      opacity: 0.6;
    }

    .caption {
      z-index: 0;
      .title {
        font-size: 8rem;
        line-height: 9rem;
      }
      .subtitle {
        font-size: 2rem;
      }
    }
  }

  .country-overview {
    .title {
      font-size: 3rem;
    }
    .description {
      color: lightgrey;
      font-size: 1.1rem;
    }
  }

  .cities {
    height: 100vh;

    .nearby-city {
      background: linear-gradient(to bottom right, #bcc1f8, #bcc1f8, #3ef1ee);
      cursor: initial !important;
      border: none !important;
      .icon {
        font-size: 5rem;
      }
      .title {
        font-size: 3rem;
      }
    }

    .city-row {
      &:first-child .city {
        &:nth-child(even) {
          border-bottom: 5px solid;
        }
        &:nth-child(odd) {
          border-top: 5px solid;
        }
      }

      &:last-child .city:nth-child(odd) {
        border-bottom: 5px solid;
      }
    }

    .city {
      height: 50vh;
      border-image: linear-gradient(to right, #bcc1f8, #bcc1f8, #3ef1ee) 1;
      cursor: pointer;
      display: flex !important;
      justify-content: center;
      align-items: center;

      .caption {
        .title {
          font-size: 5.5rem;
        }
        .subtitle {
          font-size: 1.3rem;
        }
      }

      .overlay {
        position: absolute;
        background-image: linear-gradient(
          to bottom right,
          #bcc1f8,
          #bcc1f8,
          #3ef1ee
        );
        opacity: 0;
        transition: 0.3s;
      }

      &:hover .overlay {
        opacity: 1;
      }

      .caption {
        z-index: 0;
      }
    }
  }
}

// bootstrap xl breakpoint
@media (max-width: 1199.98px) {
  .search-page {
    .cities {
      .city {
        height: 50vw;
        border: none !important;
      }
    }
  }
}

// bootstrap md breakpoint
@media (max-width: 575.98px) {
  .search-page {
    .main-display {
      .caption {
        .title {
          font-size: 6rem;
          line-height: 7rem;
        }
        .subtitle {
          font-size: 1.7rem;
        }
      }
    }

    .country-overview {
      .title {
        font-size: 2.5rem;
      }
      .description {
        font-size: 1rem;
      }
    }

    .cities {
      .city {
        height: 100vw;
        border-bottom: solid 5px !important;
        border-image: linear-gradient(to right, #bcc1f8, #bcc1f8, #3ef1ee) 1 !important;
        .overlay {
          transition: none;
        }
        .caption {
          .title {
            font-size: 4.5rem;
          }
          .subtitle {
            font-size: 1rem;
          }
        }
      }

      .nearby-city {
        border: none !important;
        .icon {
          font-size: 4rem;
        }
        .title {
          font-size: 2rem;
        }
      }
    }
  }
}
