@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
}

.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}

.all-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.all-center-column {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
