body {
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
  font-weight: 400;
}

.light {
  font-weight: 300;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

.all-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.all-center-column {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@import "./pages/LandingStyles";
@import "./pages/SearchStyles";
