.landing-page {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/winter.jpg") center;
  background-size: cover;

  .caption {
    .title {
      font-size: 6rem;
      line-height: 8rem;
    }
    .subtitle {
      font-size: 1.2rem;
    }
  }

  .search-box {
    width: 35rem;
  }
}

@media (max-width: 1100px) {
  .landing-page {
    .caption {
      .title {
        font-size: 5rem;
        line-height: 7rem;
      }
      .subtitle {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 850px) {
  .landing-page {
    .caption {
      .title {
        font-size: 4rem;
        line-height: 6rem;
      }
      .subtitle {
        font-size: 0.9rem;
      }
    }

    .search-box {
      width: 25rem;
    }
  }
}

@media (max-width: 600px) {
  .landing-page {
    .caption {
      .title {
        line-height: 4.5rem;
        margin-bottom: 1rem;
      }
      .subtitle {
        font-size: 0.85rem;
      }
    }
    .search-box {
      padding-top: 10px;
      width: 16.5em;
      input {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 380px) {
  .landing-page {
    .caption {
      .title {
        font-size: 3.4rem;
        line-height: 3.6rem;
        margin-bottom: 1rem;
      }
      .subtitle {
        font-size: 0.8rem;
      }
    }
    .search-box {
      width: 16rem;
    }
  }
}
