.search-page {
  .main-display {
    height: 50vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/winter.jpg") center;
    background-size: cover;
    border-bottom: 5px solid;
    border-image: linear-gradient(45deg, #bcc1f8, #3ef1ee) 1;
  }

  .cities {
    height: 100vh;

    .city-row {
      &:first-child .city {
        &:nth-child(even) {
          border-bottom: 5px solid;
        }
        &:nth-child(odd) {
          border-top: 5px solid;
        }
      }

      &:last-child .city:nth-child(odd) {
        border-bottom: 5px solid;
      }

      .city-title {
        background: linear-gradient(to bottom right, #bcc1f8, #bcc1f8, #3ef1ee);
        cursor: initial !important;
        border: none !important;
      }

      .city {
        height: 50vh;
        border-image: linear-gradient(to right, #bcc1f8, #bcc1f8, #3ef1ee) 1;
        cursor: pointer;
        display: flex !important;
        justify-content: center;
        align-items: center;

        .overlay {
          position: absolute;
          background-image: linear-gradient(
            to bottom right,
            #bcc1f8,
            #bcc1f8,
            #3ef1ee
          );
          opacity: 0;
          transition: 0.3s;
        }

        &:hover .overlay {
          opacity: 1;
        }

        .caption {
          z-index: 0;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .search-page {
    .cities {
      height: 100vh;

      .city {
        border: none !important;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .search-page {
    .cities {
      .city {
        height: 100vw !important;
        border-bottom: solid 5px !important;
        border-image: linear-gradient(to right, #bcc1f8, #bcc1f8, #3ef1ee) 1 !important;
      }
    }
  }
}
