body {
  font-family: sans-serif !important;
}
.eachCity {
  height: 240px;
  width: 240px;
}
.cityTemperature,
.weatherIcon {
  height: 30px;
  width: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}
.weatherIcon {
  height: 60px;
  width: 60px;
}
.weatherIcon img {
  width: 100%;
}
.hot {
  background: red;
}
.cold {
  background: blue;
}
